@page
@using PokeRepo.Enum
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach(var pokemon in Enum.GetNames(typeof(Pokemons)))
{
    <a asp-page="/Details" asp-route-pokemonName="@pokemon">
    <h3>@pokemon</h3>
    </a>
};